@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
body, html{
    font-family: 'Oswald', sans-serif;
}
.margo{
    width: 50%;
    margin: 10px auto;
}

.clear{
    clear: left;
}

.margoButton{
    margin: 0px 0px 10px 10px;
    width: 150px;
}

.margoButton_Pen{
    margin: 0px 10px 10px -3px;
}

.buttonsDiv{
    width: 200px;
    margin: 0px;
    display: flex;
    float: left;
}

.margoModal{
    width: 80%;
    margin: 10px auto;
}

table, th, td {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px auto;
    text-align: center;
}

.center{
    text-align: center;
}

.editPen{
    width: 20px;
}

.callout{
    margin: 0px;
}

.unsuccessful{
    background-color: rgba(255, 103, 103, 0.87);
}

.nevLeiras p{
    line-height: 10px;
    font-size: 15px;
    margin: 10px;
}

.nevLeiras{
    background-color: rgba(206, 206, 206, 0.657);
    padding: 10px;
    margin: 10px auto;
}

.melyikfokategoria{
    background-color:rgba(159, 215, 241, 0.109);
    padding: 5px;
    border-style: outset;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}